.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.safe {
  background-color: #61dafb;
}

.unsafe {
  background-color: rgb(202, 14, 14);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #cbcbcb;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.header {
  background-color: azure;
}

.status {
  font-size: 30px;
  color: tomato;
  font-weight: bold;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow-x: hidden;
}

.left {
  left: 10%;
  right: 50%;
}

.right {
  left: 50%;
  margin-top: 70px;
}

.loss {
  font: bold;
  font-size: 20px;
  color: red;
}

.win {
  font: bold;
  font-size: 20px;
  color: green;
}

.moves {
  font-size: 20px;
}

.Timer-header {
  font-size: 25px;
  color: mediumblue;
}

.Timer-display {
  font-size: 20px;
}

.actionButton {
  font-size: 20px;
  border-radius: 2px;
  transition-duration: 0.3s;
}

.actionButton:hover {
  background-color: slategray;
  color: azure;
}